.container {
    display: grid;
    margin: 2rem auto;
    max-width: 1000px;
    width: 95%;
    /*grid-gap: 8px 8px;*/ /*row gap, column gap*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 300px 110px repeat(3, 300px) 100px 350px 300px 300px 150px 300px 100px 350px 150px;
}

.grid-item-1 {
    background-color: #708090;
    grid-column: 1 / span 4;
    grid-row: 1;
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        text-align: right;
    }

    li {
        display: inline;
        margin-right: 25px;
    }

        li a {
            text-decoration: none;
            font-size: 12px;
            color: white;
            font-family: Georgia;
        }

    #logo {
        margin-right: 570px;
        font-family: Georgia;
        color: white;
    }

.grid-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
}
    #d1{
        margin-top: 10px;
        text-align: center;
        font-family: Tahoma;
        font-size: 45px;
        color: white;
    }
    #d2{
        text-align: center;
        font-family: Tahoma;
        font-size: 14px;
        color: white;
        padding: 5px;
    }

.grid-item-3 {
    grid-column: 4;
    grid-row: 2;
    background-image: url('Images/Versilia.jpg');
    background-size: cover;
}
.grid-item-4{
    background-color: #708090;
    grid-column: 1 / span 4;
    grid-row: 3
}
    #d3{
        margin-top: 30px;
        text-align: center;
        font-family: Tahoma;
        font-size: 20px;
        color:white;
        letter-spacing: .5px;
    }
    #d4{
        margin-top: 5px;
        text-align: center;
        font-family: Tahoma;
        font-size: 12px;
        color: white;
    }
.grid-item-5{
    grid-column: 1 / span 2;
    grid-row: 4;
    font-family: Cambria;
    margin-left: 20px;
}

    #p1{
        font-family: Cambria;
        margin-top: 45px;
        font-size: 18px;
        color: gray;
    }
    #p2{
        font-family: Cambria;
        font-size: 12px;
        color: gray;
    }
    .button1 {
        background-color: #708090;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Georgia;
        font-size: 12px;
        padding: 8px 8px 8px 8px;
        margin: 4px 2px;
        cursor: pointer;
    }

.grid-item-6 {
    grid-column: 3 / span 2;
    grid-row: 4;
}
    .blue-pic{
        width: 340px;
        height: 220px;
        margin-left: 60px;
        margin-top: 40px;
    }

.grid-item-7{
    grid-column: 1 / span 2;
    grid-row: 5;
    background-color: #708090;
}

    #pic2 {
        width: 340px;
        height: 220px;
        margin-left: 40px;
        margin-top: 40px;
        }

.grid-item-8{
    grid-column: 3 / span 2;
    grid-row: 5;
    background-color: #708090;
}
    #p3 {
        font-family: Cambria;
        margin-top: 45px;
        font-size: 18px;
        color: white;
    }

    #p4 {
        font-family: Cambria;
        font-size: 12px;
        color: white;
    }

    .button2 {
        background-color: white;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Georgia;
        font-size: 12px;
        padding: 8px 8px 8px 8px;
        margin: 4px 2px;
        cursor: pointer;
    }

.grid-item-9{
    grid-column: 1 / span 2;
    grid-row: 6;
    margin-left: 20px;
}
    #p5 {
        font-family: Cambria;
        margin-top: 45px;
        font-size: 18px;
        color: gray;
    }

    #p6 {
        font-family: Cambria;
        font-size: 12px;
        color: gray;
    }

    .button3 {
        background-color: #708090;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Georgia;
        font-size: 12px;
        padding: 8px 8px 8px 8px;
        margin: 4px 2px;
        cursor: pointer;
    }


.grid-item-10{
    grid-column: 3 / span 2;
    grid-row: 6;
}
    #pic3 {
        width: 340px;
        height: 220px;
        margin-left: 60px;
        margin-top: 40px
    }

.grid-item-11 {
    grid-column: 1 / span 4;
    grid-row: 7;
    background-color: #708090;
  
}

#d5 {
    margin-top: 25px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    letter-spacing: .5px;
}

#d6 {
    margin-top: 5px;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    color: white;
}


.grid-item-12 {
    grid-row: 8;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 50px;
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
}

.grid-item-13{
    grid-row: 8;
    grid-column: 2 / span 2;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
   
}

.grid-item-14 {
    grid-row: 8;
    grid-column: 3 / span 2;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 50px;
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
}

.grid-item-15 {
    grid-row: 9;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-right: 150px;
   
}

.grid-item-16 {
    grid-row: 9;
    grid-column: 2 / span 2;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
}

.grid-item-17 {
    grid-row: 9;
    grid-column: 3 / span 2;
    margin-left: 150px;
    margin-right: 50px;
}

.grid-item-18 {
    grid-row: 10;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-right: 150px;
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
}

.grid-item-19 {
    grid-row: 10;
    grid-column: 2 / span 2;
    margin-left: 100px;
    margin-right: 100px;
}

.grid-item-20 {
    grid-row: 10;
    grid-column: 3 / span 2;
    margin-left: 150px;
    margin-right: 50px;
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
}

#d7, #d8, #d9,
#d10 {
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    color: #708090;
    margin-top: 25px;

}

#p7, #p8, #p9,
#p10 {
    text-align: center;
    font-family: Georgia;
    font-size: 12px;
    color: #708090;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.button5, .button7,
.button9, .button11
{
    background-color: #708090;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Georgia;
    font-size: 12px;
    padding: 8px 8px 8px 8px;
    margin-left: 105px;
    margin-top: 10px;
    cursor: pointer;
}

.button4, .button6,
.button8, .button10,
.button12 {
    height: 70px;
    width: 140px;
    border: none;
    background-color: #708090;
    padding: 6px 6px 6px 6px;
    margin-top: 105px;
    margin-left: 80px;
    opacity: .8;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Georgia;
    letter-spacing: .5px;
}

.grid-item-21 {
    grid-column: 1 / span 4;
    grid-row: 11;
    background-color: #708090;
    margin-top: 50px;
}

#d11 {
    margin-top: 25px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    letter-spacing: .5px;
}

#d12 {
    margin-top: 5px;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    color: white;
}


.carousel-wrapper {
    /**height: 300px;*/
    position: relative;
    /*width: 800px;*/
    /*margin: 0 auto;*/
    grid-column: 1 / span 4;
    grid-row: 12;
}

.carousel-item {
    position: absolute;
    grid-column: 1 / span 4;
    grid-row: 12;
    height: 250px;
    /*width: 1000px;*/
    margin-right: 100px;
    margin-left: 100px;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: #708090;
    text-align: center;
    font-family: Georgia;
    font-size: 16px;
}

.arrow {
    position:absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}



/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: none;
    background-size: cover;
}

.item-2 {
    /*background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
    background-size: cover;*/
}

.item-3 {
    /*background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
    background-size: cover;*/
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.grid-item-22 {
    grid-column: 1 / span 4;
    grid-row: 13;
    background-color: #708090;
}

#d13 {
    margin-top: 25px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    letter-spacing: .5px;
}

#d14 {
    margin-top: 5px;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    color: white;
}

.grid-item-23{
    grid-column: 1 / span 2;
    grid-row: 14;
    margin-top: 50px;
    margin-left: 20px; 
}


#d23, #d24, #d25, #d26{
   margin-top: 15px;
   font-family: Georgia;
   font-size: 14px;
   color: #708090;
}

#mail, #phone, #map {
    height: 12px;
    width: 12px;
}

.grid-item-24{
    grid-column: 3 / span 2;
    grid-row: 14;
}


#name{
    margin-top: 50px;
}

#email{
    

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#subject{
    height: 120px;
    width: 100%
}

input[type=submit] {
    width: 50%;
    background-color:#708090;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
    input[type=submit]:hover {
        background-color: #45a049;
    }

.grid-item-25{
    grid-column: 1 / span 4;
    grid-row: 15;
    background-color: #708090
}

#d15 {
    margin-top: 80px;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
    color: white;
    
}

#d16 {
    margin-top: 5px;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    color: white;
}

